nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    z-index: 999;
    margin-left: 2rem;
    font-family: 'Gilroy-Regular', sans-serif;
}

input {
    padding: 12px 20px;
    border: none;
    background: #f7f6f6;
    outline: none;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    position: relative;
    width: 25rem;
}

.nav-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-header h1 {
    font-family: 'Gilroy-Heavy', sans-serif;
    font-size: 2.5rem;
}

.nav-header-blue {
    color: #140141;
}

.nav-header-purple {
    color: #AC0CE7;
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
}

.nav-icons {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 10px;
    margin-bottom: 20px;
    color: #494949;
}

.search-input{
    background-color: #ffffff;
    border-bottom: 1px solid #AC0CE7;
    border-radius: 0;
    font-size: 1.3rem;
}

::placeholder {
    color: #AC0CE7;
    font-size: 1.3rem;
    font-family: 'Gilroy-Bold', sans-serif;
}

@media (max-width: 1024px) {
    nav{
        margin-left: 10rem;
    }
}

@media (max-width: 768px) {
    nav{
        margin-left: 0rem;
        padding: 0 20px 20px 20px;
    }

    .nav-header {
        text-align: center;
    }
}

@media (max-width: 425px) {
    .nav-container {
        width: 80%;
    }
}