nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    z-index: 999;
    margin-left: 2rem;
}

input {
    padding: 12px 20px;
    border: none;
    background: #f7f6f6;
    outline: none;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    position: relative;
    width: 25rem;
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40rem;
    border-bottom: 2px solid #f3f3f3;
}

.nav-icons {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 10px;
    margin-bottom: 20px;
    color: #494949;
}